<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>

  </head>
  
  <body>
    <form action="http://localhost:8080/MVC_Derek/servlet/ServletAction" method="post">
      <input type ="text" name="name"/><br>
      <input type ="date" name="beginDate"/><br>
      <input type ="date" name="endDate"/><br>
      <input type ="text" name="totalPensionToDate"/><br>
      <input type = "hidden" name = "sign" value = "mvc.form.SocialPension">
      <input type = "submit">
    </form>
  </body>
</html>
